<nav class="navbar navbar-expand-md navbar-dark py-lg-0 px-3 fixed-top">
  <a class="navbar-brand d-flex align-items-center justify-content-center mr-3" href="/">
    <img src="<%= @items['/assets/images/gitlab-logo-header.svg'].path %>" alt="GitLab documentation home" class="logo" />
    <span class="border-left border-light ml-2 pl-2">Docs</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mb-0">
      <li class="nav-item active">
        <% if @item[:searchbar].nil? %>
          <% location = @item.identifier.to_s.split('/')[1] %>
          <% unless %w(search index.erb).any?(location) %>
            <% if @config[:search_backend] == "algolia" %>
              <div id="docsearch" class="gl-my-3 gl-md-mt-0 gl-md-mb-0"></div>
            <% else %>
              <div class="js-search-form"></div>
            <% end %>
          <% end %>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav mb-0">
      <li class="nav-item active">
      <a class="nav-link" href="https://about.gitlab.com/releases/categories/releases/" target="_blank">What's new?</a>
      </li>
    </ul>
    <div class="js-versions-menu"></div>
    <ul class="navbar-nav gl-mb-3 gl-md-mb-0 gl-md-pr-3">
      <li class="nav-item">
        <% if @item.identifier.to_s.split('/')[1] == 'omnibus' %>
          <%= render '/cta_omnibus.*' %>
        <% else %>
          <%= render '/cta.*' %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
